---
title: 404
layout: default
permalink: /404.html
---

{% include main/loader.html %}

<!-- Box Start -->
<div class="box_container">
    <!-- Box Start -->

    <!--================= Breadcumbs Section ==================-->
    <section class="bread-cumbs text-center">
        <h1>404 <span>napaka</span></h1>

    </section>
    <!--================= 404 area Section ==================-->
    <section class="error-404">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12 text-center wow fadeInUp" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay }}">
                    <h1>404</h1>
                    <h2>Ups, stran ni bila najdena</h2>
                    <p>Se opravičujemo ampak stran, ki ste jo izkali ne obstaja.</p>
                </div>
            </div>
        </div>
    </section>


    {% include content/footer.html %}

    <!-- Box End -->
</div>
<!-- Box End -->
<a href="#" id="backToTop"><i class="icon-angle-double-up"></i></a>

{% include main/scripts.html %}


