<!--================= Include All JS ==================-->
<script type="text/javascript" src="/js/jquery.js?v=1.0.6"></script>
<script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js?v=1.0.6"></script>
<script type="text/javascript" src="/js/bootstrap.min.js?v=1.0.6"></script>
<script type="text/javascript" src="/js/appear.js?v=1.0.6"></script>
<script type="text/javascript" src="/js/wow.min.js?v=1.0.6"></script>
<script type="text/javascript" src="/js/jquery.easypiechart.js?v=1.0.6"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNCb4uYkgVGgf7gQ5cFjJpLTRqN4v2k48"></script>
<script type="text/javascript" src="/js/gmaps.js?v=1.0.6"></script>
<script type="text/javascript" src="/js/jquery.prettyPhoto.js?v=1.0.6"></script>
<script type="text/javascript" src="/js/mixer.js?v=1.0.6"></script>
<script type="text/javascript" src="/js/theme.js?v=1.0.6"></script>
