<!--================= About Company Section ==================-->
<section class="about-company">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center wow fadeInUp" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay2 }}">
                <h2 class="common-title">o našem<span>podjetju</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12 text-right wow fadeInUp" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay2 }}">
                <div class="happy-customers-div counting home2">
                    <p>Zadovoljnih Strank</p>
                    <h2 class="timer">1539</h2>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 no-padding text-center wow fadeInUp" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay3 }}">
                <div class="company-description">
                    <p>{{ site.description }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12 text-left wow fadeInUp" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay4 }}">
                <h4 class="h4Head">Naši Prijatelji</h4>
                <div class="facebook-div">
                    <a href="{{ site.facebook }}" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <div class="likes">
                        <h3 class="timer">430</h3>
                        <p>Likes</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="twitter-div">
                    <a href="{{ site.twitter }}" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <div class="twitees">
                        <h3 class="timer">5</h3>
                        <p>Followers</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="instagram-div">
                    <a href="{{ site.instagram }}" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <div class="instagramers">
                        <h3 class="timer">1126</h3>
                        <p>Followers</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
