<!--================= Feature Area ==================-->
<section class="features-area home2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay3 }}">
                <a href="/panorama.html" target="_blank">
                    <img src="/images/panorama/panorama-preview.png" alt="" class="widthAuto">
                </a>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="{{ site.wowDuration}}" data-wow-delay="{{ site.wowDelay3 }}">
                <h3>Virtualni<span>Sprehod po salonu</span></h3>
            </div>
        </div>
    </div>
</section>
