<!--================= Footer Section ==================-->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay2 }}">
                <a href="/" class="footerlogo">
                    <img src="/images/logo-header.png">
                </a>
                <h4 class="footerName">ultra <span>image</span></h4>
                <p class="copy blue">Copyright &copy; 2017 Frizerski salon Ultra Image</p>
            </div>
        </div>
    </div>
</footer>
