<!--================= Map Section ==================-->
<section class="map-area wow fadeInUp" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay2 }}">
    <div class="homeMap" id="map"></div>
    <div class="homMapTriangle"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="contact-address home2">
                    <h2 class="common-title">naš<span>kontakt</span></h2>
                    <p><i class="icon-phone"></i><b>(01) 437 15 58</b></p>
                    <p><i class="icon-mobile"></i><b>031 523 362</b></p>
                    <p><i class="icon-mail-6"></i><a href="mailto:info@ultra-image.si"><b>info@ultra-image.si</b></a></p>
                    <p><i class="icon-globe"></i><a target="_blank" href="https://maps.google.com/?saddr=Current+Location&daddr=46.0643295835,14.525890171"><b>Savska 10, 1000
                                                                                                                                               Ljubljana</b></a></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <ul class="contact-social pull-right">
                    <li class="fac">
                        <a href="{{ site.facebook }}" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="twi">
                        <a href="{{ site.twitter }}" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="insta">
                        <a href="{{ site.instagram }}" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
