<!--================= Working hours ==================-->
<section class="about-company">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center wow fadeInUp" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay2 }}">
                <h2 class="common-title">Odpiralni <span class="marginTop10">čas</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12 text-right wow fadeInUp" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay2 }}">
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 no-padding text-center wow fadeInUp" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay3 }}">
                <div class="company-description">
                    <ul class="noMarginTop">
                        <li>Pon.-Pet.: <b>8:00</b> - <b>20:00</b></li>
                        <li>Sobota: <b>8:00</b> - <b>13:00</b></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12 text-left wow fadeInUp" data-wow-duration="{{ site.wowDuration }}" data-wow-delay="{{ site.wowDelay4 }}">
            </div>
        </div>
    </div>
</section>
